/* General Styles */
* {
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, #191d21, #2F3336);
}

#content {
    flex: 1;
}

/* Header Styles */
header {
    font-size: 40px;
    text-align: center;
    margin-bottom: 8px;
}

#bottom_ttile {
    font-size: 30px;
}

#top_title {
    vertical-align: top;
    display: inline-block;
}

/* Navigation */
nav {
    background-color: rgb(100, 124, 100);
    text-align: center;
}

a.menu, div.menu {
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 30px;
    text-align: center;
    border-right: 1px dashed #2F3336;
}

a.first {
    border-left: 1px dashed #2F3336;
}

a.menu.active {
    background-color: #2F3336;
    color: #ffffff;
    border-radius: 10px;
}

/* Project Section */
#project {
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidephoto, #sidetext {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidephoto img {
    /*width: 20%;*/
    /*height: auto;*/
    margin-right: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

#sidetext {
    text-align: justify;
}

#sidetext.text-box {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #2F3336;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Wrapper */
#wrapper {
    margin: 0 auto;
    width: 50%;
}

/* Article */
article {
    padding-top: 30px;
    padding-bottom: 30px;
}

article h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 15% 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgb(100, 124, 100);
}

#title {
    text-align: center;
}

#photo {
    display: inline-block;
}

#about {
    vertical-align: top;
    display: inline-block;
}

img.left {
    float: left;
    margin: 0 10px 10px 0;
    padding: 10px;
    border-radius: 5%;
}

article p {
    text-align: justify;
    line-height: 25px;
    font-size: 18px;
    padding: 15px 0;
}

/* Footer */
footer {
    width: 50%;
    border-top: 2px solid rgb(100, 124, 100);
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    background: linear-gradient(to bottom, #191d21, #1d1e22);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-radius: 5px;
}

.hamburger {
    display: none;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    /*margin: 20px;*/
    max-width: 300px;
}

.card-content {
    text-align: justify;
    font-size: 16px;
    color: whitesmoke;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.project-card {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 800px;
    width: 100%;
}

.project-photo {
    flex: 2; /* Increase the flex value to make the photo container larger */
    margin-right: 20px;
}

.project-photo img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-content {
    flex: 2;
    text-align: justify;
    font-size: 16px;
    color: whitesmoke;
}

.pdf-container {
    position: relative;
    width: 80%; /* Adjust the width as needed */
    height: 80vh; /* Adjust the height as needed */
    margin: 0 auto; /* Center the container */
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.project-year {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.project-divider {
    border: 0;
    height: 2px;
    background: rgb(100, 124, 100); /* Match the green color of the UI */
    width: 50%; /* Make the line shorter */
}