{% extends "base.html" %}

{% block title %}{{ translations['cv'] }} - Marcin Piotrowski{% endblock %}

{% block content %}
    <section>
        <article>
            <h1>{{ translations['cv'] }}</h1>
            <div class="pdf-container">
                {% if g.locale == 'pl' %}
                {% else %}
                    <iframe class="responsive-iframe" src="{{ url_for('static', filename='../static/Marcin_Piotrowski_CV_en.pdf') }}"></iframe>
                {% endif %}
            </div>
        </article>
    </section>
{% endblock %}