{% extends "base.html" %}

{% block title %}{{ translations['cv'] }} - Marcin Piotrowski{% endblock %}

{% block content %}
    <section>
        <article>
            <h1>{{ translations['cv'] }}</h1>
            <div class="pdf-container">
                {% if g.locale == 'pl' %}
                    <iframe src="{{ url_for('static', filename='Marcin_Piotrowski_CV_pl.pdf') }}" class="responsive-iframe"></iframe>
                {% else %}
                    <iframe src="{{ url_for('static', filename='Marcin_Piotrowski_CV_en.pdf') }}" class="responsive-iframe"></iframe>
                {% endif %}
            </div>
        </article>
    </section>
{% endblock %}