{% extends "base.html" %}

{% block title %}{{ translations['title'] }}{% endblock %}

{% block content %}
    <section>
        <article>
            <h1>{{ translations['about_me'] }}</h1>
            <div id="project">
                <div class="card-container">
                <div id="sidephoto">
                    <img src="{{ url_for('static', filename='images/mpio.jpeg') }}" width="350" alt="Moje zdjęcie">
                </div>
                </div>
                <div class="card-container">
                    <div class="card">
                        <div class="card-content">
                            {{ translations['about_me_content'] }}
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endblock %}