{% extends "base.html" %}

{% from "project_card.html" import project_card %}

{% block title %}{{ translations['projects'] }} - Marcin Piotrowski{% endblock %}

{% block content %}
    <section>
        <article>
            <h1>{{ translations['projects'] }}</h1>

            {% for year, projects in projects_by_year.items() %}
                <div class="project-year">{{ year }}</div>
                <hr class="project-divider">

                {% for project in projects %}
                    {{ project_card(project, lang) }}
                {% endfor %}
            {% endfor %}
        </article>
    </section>
{% endblock %}